*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
}
header{
    width:100%;
    height:87px;
    margin:0 auto;
    text-shadow: 1px 1px 2px black;
    background-color: #55adb7; 
    
}
@media all and (max-width: 600px) {
    header .container{
        width: 100%;
    }
}
 header a{
    text-decoration: none;
    color:#fff;
}
.logo{
    width: 181px;
    height: 31px;
    font-family: 'Cherry Swash', cursive; 
    font-size: 40px;
    font-style: normal;
    line-height: 25px;
    text-align: left;
}
.navigation{
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}
.header-nav li{
 display: inline;
 margin-left: 10px;
 list-style-type: none;
}
.header-nav li:hover{
    color: #24ACF2;
    cursor: pointer;
}
.container{
    width: 962px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.main-banner{
    width:100%;
    font-size: 44px;
    color:#fff;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.main-banner h1{
    text-transform: uppercase;
    margin: 0;
    padding-top:217px;
    padding-bottom: 47px;
    line-height: 120px;
}
.button{
    width: 233px;
    height: 56px;
    color:#fff;
    font-size: 30px;
    border-radius: 5px;
    margin-bottom: 119px;
    cursor: pointer;
    padding:5px;
    border: 3px solid #afb1b4;
    background-color:rgba(255, 255, 255, 0.109);
}
.button:hover{
    background-color:rgba(255, 255, 255, 0.486);
}
.wrapper> input{
    margin-bottom:31px;
    width: 8px;
    margin-left:10px;
    border-radius: 50%;
}

.text-section{
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
.text-section h2{
    margin-top: 84px;
    margin-bottom: 39px;
    color: #4c505d;
    font-size: 30px;
    line-height: 49px;
}
.text-section p {
    margin-top: 39px;
    color: #4c505d;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin:0 auto;
    margin-bottom: 71px;
    width: 853px;
}
.icons{
    margin-bottom: 81px;
}
.world-map{
    margin-left: 127px;
    margin-right: 125px;
}

.Reviews{
    width: 100%;
    height: 468px;
    background-color: #00d089;
}
.Reviews-text{
    width: 901px;
    height: 81px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 32px;
}
.peole{
  display:inline-flex; 
  margin-top: 94px;
  margin-bottom: 67px;
}
.peole, .name{
    font-size: 26px;
    font-weight: 700;
    margin-left: 20px;
    color: #e4e4e4;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.form-map{
    width: 100%;
    min-height: 635px;
    margin-top: calc(-250px);
    background-image: url(./img/map-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.form-icon{
    width: 430px;
    height: 430px;
    margin:250px auto 0 auto;
    padding-top: 273px;
    background-position: center;
    background-image: url(./img/Ellipse_2.png);
    background-repeat:no-repeat; 
}
.form-icon input{
    margin-bottom: 15px;
    width: 275px;
    height: 31px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
}
.form-icon textarea {
    width: 275px;
    height: 80px;
    margin-bottom: 33px;
}
footer{
    background-color: #00d089;
}
footer a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color:#fff;
}


